.footer-section {
  height: 25px;
  padding: 12px 32px 12px 32px;
  border: 1px 0px 0px 0px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  border-top: 1px solid rgba(234, 236, 240, 1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}

.submit-btn {
  width: 203px;
  height: 36px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  background: rgba(229, 229, 255, 1);
  border: 1px solid rgba(229, 229, 255, 1);

  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blue);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: rgb(204, 204, 250);
}

.toggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle-img {
  position: relative;
  top: 3px;
  width: 50px;
  height: 25px;
  color: var(--blue);
  cursor: pointer;
}

.text {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 400px) {
  .footer-section {
    height: 86px;
    padding: 12px 32px 12px 32px;
    gap: 8px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border-top: 1px solid rgba(234, 236, 240, 1);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  }

  .toggle {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: -15px;
  }

  .submit-btn {
    width: 100%;
    text-align: center;
    height: 56px;
    border-radius: 8px;
    border: 1px;
    gap: 8px;
    background: rgba(229, 229, 255, 1);
    border: 1px solid rgba(229, 229, 255, 1);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: var(--blue);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 25%;
    padding-right: 10%;
  }
}
