.floatingNavbar {
  display: flex;
  z-index: 100;
  position: fixed;
  margin-top: 3rem;
}

.floating-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin-left: 6rem;
  margin-top: 10px;
}

.floating-header-sub-section {
  margin-top: 15px;
  width: 114px;
  height: 50px;
  gap: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-sub-section:hover {
  background: rgb(255, 222, 180);
  box-shadow: 0px 2px 0px 0px rgba(246, 177, 77, 1);
}

.header-sub-section-heading {
  height: 20px;
  width: 86px;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(20, 47, 84, 1);
  margin: 0px;
}

.link {
  text-decoration: none;
}

@media (min-width: 684px) {
  .floating-header-section {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-sub-section {
    max-width: 70px;
    height: 66px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-sub-section-heading {
    display: none;
  }
}
