.questionList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 10px;
}

.questionNumberContainer {
  width: 107.33px;
  height: 40px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px;
  gap: 8px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(234, 236, 240, 1);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.questionNumber {
  /* //styleName: Text md/Medium; */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(3, 8, 14, 1);
}
