.questionList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-left: 10px;
  overflow-y: auto;
  max-height: 330px;
}

.questionNumberContainer {
  width: 107.33px;
  height: 40px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px;
  gap: 8px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(234, 236, 240, 1);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.questionNumber {
  /* //styleName: Text md/Medium; */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(3, 8, 14, 1);
}

.bookmark-icon {
  position: relative;
  left: 25px;
}

.questionList::-webkit-scrollbar {
  width: 5px;
  height: 251px;
}

.questionList::-webkit-scrollbar-thumb {
  background-color: rgba(
    208,
    213,
    221,
    1
  ); /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Optional: Round the corners of the thumb */
}

.questionList::-webkit-scrollbar-track {
  background-color: white; /* Set the color of the scrollbar track */
}
