.sideBar {
  width: 448px;
  height: 958px;
  top: 66px;
  border: 0px, 1px, 0px, 0px;
  gap: 8px;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 14px;
}

.lesson {
  width: 400px;
  height: 958px;
  border: 0px, 1px, 0px, 0px;
  background: rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(234, 236, 240, 1);
  text-align: left;
}

.lesson-header {
  width: 400px;
  height: 125.5px;
  border: 0px, 1px, 1px, 0px;
  gap: 16px;
  background: rgba(242, 244, 247, 1);
  border-width: 0px, 1px, 1px, 0px;
  border-style: solid;
  border-color: rgba(234, 236, 240, 1);
}
