.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.question-section {
  width: 944px;
  height: 308px;
  margin-top: 70px;
  margin-left: 84px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  position: relative;
  gap: 12px;
  /* padding: 12px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  width: 90%;
  margin-top: -2rem;
}

.heading {
  margin: 0;
  margin-top: 0px;
}

.question-section-header {
  width: 100%;
  height: 56px;
  padding: 0px 24px 0px 24px;
  margin-top: 24px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isFlaged-section {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.bookmark-img {
  width: 20px;
  height: 20px;
}

.question-number {
  /* //styleName: Display xs/Bold; */
  font-family: Merriweather Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.flag {
  /* //styleName: Text sm/Regular; */
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(102, 112, 133, 1);
  gap: 12px;
}

.question-check-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  position: relative;
  width: 100%;
  height: 5rem;
}

.question {
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -7px;
}

.button-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  top: 12px;
  position: relative;
}

.question-word {
  padding-left: 10px;
}
.input-area {
  border: 1px solid rgba(102, 112, 133, 1);
  height: 35px;
  margin-left: 10px;
  font-size: 30px;
  max-width: 250px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.input-area:focus {
  outline: transparent;
}

.check-btn {
  width: 160px;
  height: 44px;
  padding: 10px 18px 10px 18px;
  border-radius: 8px;
  border: 1px;
  gap: 8px;
  background: rgba(0, 0, 255, 1);
  border: 1px solid rgba(0, 0, 255, 1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: rgba(255, 255, 255, 1);

  /* //styleName: Text md/Semibold; */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  position: relative;
}

.check-btn:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 255, 1);
  background-color: rgb(89, 89, 236);
}

.button-section .attempt {
  /* //styleName: Text sm/Regular; */
  font-family: Source Sans Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: rgba(51, 51, 255, 1);
}
.answer-container {
  height: 4rem;
}

.answer {
  margin-top: 20px;
  font-size: 36px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

.provideAnswer {
  color: rgb(0, 47, 255);
  font-weight: 500;
}

.result-img {
  position: relative;
  top: 8px;
  right: 5px;
}

.loader {
  position: absolute;
  inset: 0;
  left: 60px;
  height: 40px;
}

.question-extra-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 272px;
  padding: 36px 0px 2px 2px;
  border-radius: 0px 8px 8px 0px;
  border-left: 1px solid rgb(214, 214, 214);
  gap: 15px;
  background: rgba(249, 250, 251, 1);
}

.question-extra-options-icon {
  width: 24.8px;
  height: 30px;
}

.question-extra-options-icon:hover {
  cursor: pointer;
  background-color: rgb(245, 169, 70);
  border-radius: 5px;
}

.cursor {
  position: absolute;
}
